[submodule "themes/uBlogger"]
	path = themes/uBlogger
	url = https://github.com/cheret-communications/uBlogger.git
[submodule "content/legal"]
	path = content/legal
	url = git@github.com:markcheret/legal.git
